/* App.css */
.progress-bar {
    width: 500px;
    background-color: #100f59;
    border-radius: 5px;
    height: 20px;
    margin: 10px;
  }
.progress{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    width:200px;
    margin-left: 50px;
}
.letters{
    color:white;
    margin:2px;
}
.butGoToLearn{
    display:flex;
    margin: 10px;
    width: 250px;
    background-color: #100f59;
    border-radius: 5px;
}
.but-home{
    width: 200px;
    height: 50px;
    border: 1px solid #100f59;
    border-radius: 25px;
    background: #100f59;
    color:white;
    margin:30px
    
}
.first{

}