.panelsButtons {
    position: fixed;
    top: 200px;
    right: 20px; /* Регулируйте значение right, чтобы изменить отступ от правого края */
    transform: translateY(-50%);
    background-color: #fff;

    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:20%
  }
  
  .panelsButtons button {
    display: block;
    margin-bottom: 5px;
  }
  .days{
    display: flex;
    flex-wrap: wrap;
    margin:40px
  }